.subCategory {
  font-size: 18px;
  font-weight: 600;
}
.subcategoryButton {
  border: none;
  background-color: #f2f2f2;
  border-radius: 6px;
  font-weight: 600;
  padding: 5px 10px;
  color: #4a4a4a;
  width: 95%;
  text-align: left;
  margin-bottom: 10px;
}
.selectedSubCategory{
  border-left: 3px solid #4a4a4a;
  border-bottom: 1px solid #cccccc;
}
.table1 {
  border: 1px solid var(--footer_background_color);
  border-radius: 5px;
}
.basicInfo {
  background-color: #f8f8f8;
  border: 1.5px solid #e6e6e6;
  border-radius: 8px;
}
.basicInfoHeadingDiv {
  background-image: linear-gradient(
    to right,
    var(--footer_background_color),
    #636365,
    #868688,
    #a6a6a7,
    #d2d2d3,
    #f5f5f5
  );
  color: white;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  /* padding-left: 10px; */
  padding: 2px 0px 2px 10px;
  position: absolute;
  top: -20px;
  width: 70%;
}
.caseNumber{
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: 15px;
  border: none;
  background-color: transparent;
}
.detailInformationDiv{
  border-bottom:1.5px solid #acacac;
  padding-bottom: 5px;
  font-size: 14.5px;
  height: 30px;
}
.detailPageLabel{
  font-size: 19px;
  font-weight: 500;
}
.thStyle{
  width: 100px;
  background-color: #828283 !important;
  color: white !important;
  font-size: 20px;
  font-weight: normal;
}
.pagination-bar {
  width: 100%;
  display: flex;
  justify-content: center;
}
