@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

.main{
display: flex;
flex-direction: row;
justify-content: space-around;
flex-wrap: wrap;
gap: 3rem;
}
/* d-flex flex-direction-column justify-content-around flex-wrap gap-3 */
.footer-bg-color {
  background-color: var(--footer_background_color);
  color: var(--footer_font_color);
}
.titles {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
}
.fontFamily {
  font-family: Roboto, sans-serif;
  font-weight: 500;
}
.bg-lightColor {
  background-color: var(--footer_light_color);
}
.size {
  font-size: large;
  border: none;
}
.links {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--footer_font_color);
  font-size: small;
  font-weight: 400;
}
.subTitles {
  display: flex;
  flex-direction: column;
}
.signUp-button {
  background-color: var(--footer_font_color);
  color: var(--footer_background_color);
  border-radius: 8px;
  border: none;
  padding: 0px 15px;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 5px;
}
.inputEmail {
  margin-top: 5px;
  background-color: var(--footer_background_color);
  border: 1px solid var(--footer_font_color);
  border-radius: 6px;
  height: 20%;
  color: var(--footer_font_color);
  font-size: 12px;
  font-weight: 400;
  padding: 4px 9px;
}
#icons{
  gap: 0.25rem;
}
/* small mobile */
@media only screen and (max-width:360px) {
   .titles{
      font-size: small;
   }
   .links{
    font-size: x-small;
   }
   .inputEmail{
    font-size: 11px;
   }
   .main{
    gap: 1rem;
    justify-content: space-between;
   }

}
/* @media only screen and (min-width: 600px) and (max-width: 768px) {
  .main{
    gap: 1rem;
    justify-content: space-between;
  }
} */
/* @media only screen and (min-width: 361px) and (max-width: 380px) {
  .main{
    gap: 1rem;
    justify-content: space-between;
  }
  .titles{
    font-size: small;
 }
 .links{
  font-size: x-small;
 }
 #icons{
 gap: 0.7rem;
 }
} */
/* medium mobile */
@media only screen and (min-width: 361px) and (max-width: 426px) {
  .main{
    gap: 1rem;
    justify-content: space-between;
  }
  .titles{
    font-size: small;
 }
 .links{
  font-size: x-small;
 }
 #icons{
 gap: 0.7rem;
 }
}
@media only screen and (min-width: 427px) and (max-width: 968px)  {
  .main{
    gap: 1rem;
    justify-content: space-between;
  }
  .titles{
    font-size: small;
 }
 .links{
  font-size: x-small;
 }
 
}