@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  /* gap: 3rem; */
}
/* d-flex flex-direction-column justify-content-around flex-wrap gap-3 */
.header-bg-color {
  background-color: #f5f5f5;
  color: #575758;
}
.fontFamily {
  font-family: Roboto, sans-serif;
  font-size: 19px;
  font-weight: 400;
}
.list {
  color: #575758;
  font-size: 14px;
  position: relative;
  cursor: pointer;
}
.list ul {
  border-radius: 12px;
  background-color: white;
  list-style: none;
  padding-left: 0;
  z-index: 1;
  position: absolute;
  left: 0;
}
.list ul li {
  padding: 3px;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  min-width: max-content;
}
.list ul li:hover {
  background-color: rgba(194, 217, 249, 0.3);
}
.list ul li a {
  text-decoration: none;
  color: #575758;
  font-weight: 500;
}
.tripleButton {
  border: none;
  background-color: #f5f5f5;
  /* position: relative; */
}
.lightColor {
  color: #b0b0b1;
}
.header-options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* gap: 1rem; */
}
/* .img-logo {
  width: 35%;
} */
.links-header {
  text-decoration: none;
  color: #575758;
  padding: 0px 18px;
  border-right: 2px solid #b0b0b1;
  /* cursor: default; */
}
.links-header:hover {
  color: #b0b0b1;
}
#mobile_header_options {
  height: max-content;
  padding: 0;

  /* z-index: 2; */
  /* position: relative; */
}
#mobile_header_options ul {
  list-style: none;
  padding-left: 0;
}
#mobile_header_options ul li {
  border: 1px solid white;
  background-color: #b0b0b1;
  color: #575758;
  padding: 2px;
  padding-left: 5px;
}
#mobile_header_options ul li a {
  color: black;
  text-decoration: none;
}
#mobile_header_options ul li a:hover {
  color: #f5f5f5;
}
@media (max-width: 991.98px) {
  .fontFamily {
    font-size: 15px;
    font-weight: 400;
  }
}
.tripleButton:hover {
  transform: scale(1.5);
  transition: transform 0.5s;
}
