@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
.nbColor {
  background-color: #f5f5f5;
}
#navbarSupportedContent {
  justify-content: flex-end !important;
  width: 100%;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 400;
}
#navbarSupportedContent a{
    color: #575758;

}
.light{
    color: #a4a4a5;
}