@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');
.image-section {
  height: 100vh;
  overflow: hidden;

  /* width: 50%; */
}
.loginInput {
  padding: 15px;
  padding-left: 3vw;
  background-color: #f1f1f1;
  border: none;
  border-left: 6px solid #4e4e50;
  font-size: 18px;
  outline: none;
  background-color: #fbfbfb;
}
.loginInput:hover {
  background-color: #efefef;
}

.logo-text {
  color: #4e4e50;
  font-size: 70px;
  word-break: keep-all;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.detail-text {
  font-size: 30px;
  font-weight: 700;
}

.login-button {
  padding: 0px 40px 0px 40px;
  font-size: 30px;
  border-radius: 12px;
  border: none;
  background-color: #4e4e50;
  font-weight: 700;
}
.login-button:hover{
  border: 1px solid #4e4e50;
  color: #4e4e50 !important;
  background-color: white;
}
.forgotPassword {
  font-size: 25px;
}
.apply {
  font-size: 22px;
}
@media (min-width: 200px) and (max-width: 767px) {
  .logo-text {
    font-size: 34px;
  }
  .detail-text {
    font-size: 18px;
    font-weight: 700;
  }
  .loginInput {
    font-size: 15px;
  }
  .login-button {
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .forgotPassword {
    font-size: 15px;
  }
  .apply {
    font-size: 13px;
  }
  img{
    width: 100%;
  }
}
