@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap");
.image-section {
  height: 100vh;
  overflow: hidden;
  /* width: 100%; */
}
.loginInput {
  padding: 10px;
  padding-left: 3vw;
  border: none;
  border-left: 6px solid #4e4e50;
  font-size: 15px;
  outline: none;
  background-color: #fbfbfb;
  width: 95%;
}
.loginInput:hover {
  background-color: #efefef;
}

.logo-text {
  color: #4e4e50;
  font-size: 65px;
  word-break: keep-all;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.detail-text {
  font-size: 25px;
  font-weight: 700;
}

.login-button {
  padding: 3px 40px 3px 40px;
  font-size: 20px;
  border-radius: 8px;
  border: none;
  background-color: #4e4e50;
  font-weight: 700;
}
.login-button:hover {
  border: 1px solid #4e4e50;
  color: #4e4e50 !important;
  background-color: white;
}
.forgotPassword {
  font-size: 18px;
}
.apply {
  font-size: 18px;
}
.form-part {
  padding-left: 3rem;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */

  /* background-image: linear-gradient(to bottom right, #fcfcfe,#f0f3fa);   */
}
/* .bg-image {
  background: url("../images/BFS Portal Site.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 80%;
} */

@media (min-width: 200px) and (max-width: 767px) {
 
  .logo-text {
    font-size: 34px;
  }
  /* .bg-image {
    background: url("../images/BFS Portal Site.png");
    background-repeat: no-repeat;
    background-size: cover;
  } */
  .detail-text {
    font-size: 18px;
    font-weight: 700;
    padding-left: 20px;
  }
  .loginInput {
    font-size: 15px;
    background-color: white;
  }
  .login-button {
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .forgotPassword {
    font-size: 15px;
  }
  .apply {
    font-size: 13px;
  }
  .display-part img {
    width: 80%;
    object-fit: fill;
    margin-top: 20px;
    /* position: absolute; */
  }
  .form-part {
    position: relative;
    padding: 20px;
  }
  .image-section {
    /* display: block; */
    position: absolute;
    height: -webkit-fill-available;
  }
  .position{
    position: relative;
  }
  .display-part {
    opacity: 0.95;
    border: 3px solid #6c757d;
    border-radius: 20px;
    background: #f8f9fa;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
  .p-5 {
    padding: 20px;
  }
  .form-input {
    padding-left: 10%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .image-section img {
    height: 100vh;
    width: 100%;
  }
  .logo-text {
    font-size: 34px;
  }
  .detail-text {
    font-size: 20px;
    font-weight: 700;
    padding-left: 20px;
  }
  .mt-4 {
    margin-top: 20px !important;
  }
  .loginInput {
    font-size: 15px;
    /* background-color: white; */
  }
  .login-button {
    font-size: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .forgotPassword {
    font-size: 15px;
  }
  .apply {
    font-size: 15px;
  }

  .form-part {
    /* position: relative; */
    padding: 10px;
    /* background-image: linear-gradient(to bottom right, #fcfcfe, #f0f3fa); */
  }
  .image-section {
    /* display: block; */
    /* position: absolute; */
    height: 100%;
    /* width: 100%; */
  }
  /* .bg-image {
    background: url("../images/BFS Portal Site.png");
    background-repeat: no-repeat;
    background-size: cover;
  } */

  .display-part {
    opacity: 0.95;
    border: 3px solid #6c757d;
    border-radius: 20px;
    /* background:#f8f9fa; */
    background-color: white;
  }
  .p-5 {
    padding: 20px;
  }
  .form-input {
    padding-left: 10%;
  }

  .form-part img {
    width: 50%;
    margin-top: 20px;
  }
  .mt-5 {
    margin: 20px 20px 2px 20px !important;
  }
  .mt-2 {
    margin-top: 5px !important;
  }
}
@media (min-width: 1024px) {
  .form-part {
    background-color: white;
  }
}
